# Ignore Python bytecode files
**/__pycache__/

# Ignore virtual environment folder
/rl_env/

# Ignore DS_Store files (macOS)
/.DS_Store

# Ignore old or backup versions of the ReLearn file
ReLearn_old.py

# Ignore specific project subdirectories' __pycache__ folders
/TicTacToeGame/__pycache__/
/SnakeGame/__pycache__/

# Ignore Flappy Bird model weights
FlappyBirdGame/flappybird_dqn_final.pth
FlappyBirdGame/flappybird_dqn.pth


# Ignore build and final app
/dist/
/ReLearnApp.spec